@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body, h1,form {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
	background-image: linear-gradient(to right,#878787 , #c3b28f);
}

.header {
    background-color: #444444;
    color:#B4975A ;
    text-align: center;
    padding: 20px;
}

.button {
  border: none;
  color: white;
  height: auto;
  width:auto;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  transition-duration: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.button1,
.button2 {
  background-color: #c3b28f; 
  color: black; 
  border: 2px solid #444444;
  border-radius: 5px;
}

.button1:hover,
.button2:hover {
  background-color: #B4975A;
  color: white;
}

.button2{
	margin-top: 10px;
}

.sub-input, .msg-input, .iid{
	margin-top: 3px;
	background-color: rgb(0, 123, 255, 0.1);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.inqForm{
	width: 500px;
	margin-left: 12px;
	margin-top: 5px;
}




