@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
	background-color:lightgrey;
}
.detcont{
	background-color: white;
	margin-bottom: 10px;
	width: auto;
}