@charset "ISO-8859-1";

.header-section{
	width: 102%;
	margin-top: 73px;
	padding-bottom: 50px;
	background-color: #444444;
}

.header-section p{
	text-align: center;
	font-size: 24px;
	color: #B4975A;
	font-weight: bold;
}

.header-section label{
	text-align: center;
	font-size: 14px;
	color: #B4975A;
	font-weight: bold;
}

.form-div form{
	display: flex;
	margin-top: 30px;
	margin-left: 260px;
}

.form-details{
	background-color: beige;
	width: 850px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-details{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

#startDate, #endDate, #guest{
	width: 170px;
	padding: 10px 20px 10px 10px;
	border-style: none;
	background-color: whitesmoke;
	border-right-style: solid;
	cursor: pointer;
}



.search-rooms-button input{
	border-style: none;
	padding: 21px 25px 21px 25px;
	background-color: #B4975A;
	cursor: pointer;
	color: white;
	font-weight: bold;
	transition: 0.3s;
}

.search-rooms-button input:hover{
	background-color: rgb(129, 104, 58);
}

.rooms{
	margin-top: 90px;	
}

.room-container{
	display: flex;
	margin-left: 60px;
	margin-right: 80px;
	margin-bottom: 50px;
	width: 1200px;
	height: 350px;
	box-shadow: 2px 2px 5px black;
	
}

.room-image-div{
	width: 350px;
}

.room-image-div img{
	width: 350px;
}

.room-details-div{
	padding: 30px 20px 0px 20px;
	width: 400px;
}

.room-name-div p{
	font-size: 1.875rem;
	margin-top: 10px;
}

.room-info-div{

}

.room-price-div{
	width: 240px;
	
}

.book-button{
	width: 170px;
	
}

.room-price-div p{
	position: relative;
	top: 240px;
	left: 100px;
	background-color: #444444;
	color: white;
	width: 100px;
	padding: 20px 20px 20px 20px;
}

.book-button a {
	position: relative;
	top: 276px;
	background-color: #B4975A ;
	color: white;
	padding: 18px 20px 17px 20px;
	text-decoration: none;
	font-weight: bold;
	border-style: solid;
	border-color: #B4975A;
	border-width: 3px;
	transition: 0.3s;
}

.book-button a:hover{
	background-color: white;
	color: #B4975A;
	border-style: solid;
	border-color: #B4975A;
	border-width: 3px;
	
}