
<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
		 
	
	
	
	<servlet>
		<servlet-name>find</servlet-name>
		<servlet-class>reservations.RoomFinderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>find</servlet-name>
		<url-pattern>/find</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>book</servlet-name>
		<servlet-class>reservations.ReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>book</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>reservs</servlet-name>
		<servlet-class>reservations.MyReservationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reservs</servlet-name>
		<url-pattern>/reservs</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>updateBook</servlet-name>
		<servlet-class>reservations.UpdateReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBook</servlet-name>
		<url-pattern>/updateBook</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.customer.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>com.customer.UserProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.customer.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
	
	
	
    <servlet>
    	<servlet-name>customerinsert </servlet-name>
    	<servlet-class>com.customer.CustomerInsert</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>customerinsert</servlet-name>
    	<url-pattern>/insert</url-pattern>
    </servlet-mapping>
    
      <servlet>
    	<servlet-name>customerupdate </servlet-name>
    	<servlet-class>com.customer.UpdateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>customerupdate</servlet-name>
    	<url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    	<servlet>
    	<servlet-name>deletecustomer </servlet-name>
    	<servlet-class>com.customer.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>deletecustomer</servlet-name>
    	<url-pattern>/delete</url-pattern>
    </servlet-mapping>
    
    	<servlet>
		<servlet-name>inquiry</servlet-name>
		<servlet-class>com.Inquiry.inquiryinsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inquiry</servlet-name>
		<url-pattern>/inq</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>inquiryDetails</servlet-name>
		<servlet-class>com.Inquiry.InquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>inquiryDetails</servlet-name>
		<url-pattern>/inqde</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updateInquiry</servlet-name>
		<servlet-class>com.Inquiry.UpdateInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateInquiry</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleteInquiry</servlet-name>
		<servlet-class>com.Inquiry.DeleteInquiryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteInquiry</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
		 
</web-app>

